:root {
	--ecru: 			#bfb48fff;
	--isabelline: 		#f2efe9ff;
	--yinmn-blue: 		#4a5899ff;
	--vista-blue: 		#9dacffff;
	--black: 			#000501ff;

	--polynesian-blue: 	#084887ff;
	--moonstone: 		#74b4beff;
	--redwood: 			hsl(356, 42%, 25%);

	--primary-color: 	var(--polynesian-blue);
	--secondary-color: 	hsl(46, 27%,80%);
	--accent1-color: 	var(--redwood);
	--accent2-color: 	var(--black);

    --light-font-color: var(--isabelline);

	--heading-font: "Fredoka", system-ui;
	--body-font: "Fredoka", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    position: relative;
}

body {
	font-family: var(--body-font);
	color: var(--accent1-color);
    height: 100%;
}

.bg-image {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index: -1;
    overflow:hidden;

    /* The image used */
    background-image: url("../images/beachscape.webp");

    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);

    /* Full height */
    height: 100%;
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

header, footer {
    width: 100%;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--heading-font);
	color: var(--primary-color);
	text-align: center;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

header div {
    display: grid;
    grid-template-columns: 24px auto 44px 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;

    background-color: white;

    font-size: 2rem;
    color: var(--accent1-color);
}

.hero {
    position: relative;
}

.hero > figure {
    display: block;
    position: absolute;
    --gap: 2rem;
    right: var(--gap);
    bottom: var(--gap);
    float: right;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    padding: 0;
}

.hero > figure:hover {
    animation: pulse 2s infinite;
}

.button {
    cursor: pointer;
    background: none;
    border: none;
    text-align: center;
    width: 100%;
    padding: 1rem;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

header div img {
    padding-bottom: 6.5px
}

.hamburger {
    cursor: pointer;
    background: none;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    padding: 0;
}

.hamburger::before {
    content: "\2630";
}
.hamburger.show::before {
    content: "\00D7";
}

.theme-toggle {
    cursor: pointer;
    background: none;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    padding: 0;
}

.theme-toggle::before {
    content: "\2600";
}
.theme-toggle.dark::before {
    content: "\263E";
}



h1 {
    color: var(--accent1-color)
}

nav.navigation {
    display: none;
    width: auto;
    margin: 0;
    padding: 0;
}

nav.navigation.show {
    display: block;
}

nav.navigation ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* background-color: var(--primary-color); */
    width: 100%;
}

nav.navigation ul li {
    flex-grow: 1;
}

nav.navigation ul li::marker {
    content: none;
}

nav ul li a {
    color: inherit;
    text-decoration: none;
    padding: 10px 30px;
    display: block;
    text-align: center;
    background-color: var(--secondary-color);
    cursor: pointer;
}

nav ul li.active a {
    background-color: var(--isabelline);
    font-weight: bolder;
}

nav ul li a:hover {
	text-decoration: none;
    background-color: var(--accent1-color);
    color: var(--light-font-color);
}

span#course-title {
    display: block;
    font-size: 2em;
    padding: 0.5em;
    text-align: center;
}

main {
    padding: 0;
    margin: 0;
    display: grid;
    background-color: var(--isabelline);
}

.flex {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    border: 1px solid var(--accent2-color);
    border-radius: 1rem;
    background-color: whitesmoke;
    flex: 1 1 auto;
}

section.card.left {
    flex: 3 10 20rem;
}

section.card.right {
    flex: 2 10 12rem;
}

.card > h2 {
    margin-bottom: 0.5rem;
    background-color: var(--primary-color);
    margin: -0.5rem -0.5rem 0.5rem -0.5rem;
    color: white;
    padding: 0.5rem;
    border-radius: 1rem 1rem 0 0;
    border: 1px solid var(--accent2-color);
}

.card.weather {
    flex: 2 10 15rem;
    display: grid;
    grid-template: auto 1fr / 1.5fr 3fr;
}

.card.weather > h2 {
    grid-column: span 2;
}

.card.weather > div > img {
    background-color: var(--primary-color);
}

.card.weather > div > p {
    padding: 0.3rem 1rem;
    margin: 0;
}

.card.weather > div > p > strong {
    font-size: x-large;
}

.list-view {
    flex-flow: column;
}

.view-selector-container {
    text-align: center;
}

.card.business {
    display: grid;
    /* flex-wrap: wrap; */
    grid-template: auto 1fr / 5rem 1fr;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 30rem;
    flex: 2 10 10rem;
}

a {
    color: inherit;
}

button {
    background-color: white;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 1px solid var(--accent1-color);
    color: var(--accent1-color);
}

button:hover {
    background-color: var(--accent1-color);
    color: var(--light-font-color);
}

.list-view > .card.business {
    max-width: none;
    grid-template: auto 1fr / 1fr;
}

.card.business > div:nth-child(1) {
    grid-column: span 2;
    border-bottom: 1px solid black;
    padding-bottom: 0.3rem;
    margin-bottom: 0.5rem;
}

.card.business > div:nth-child(1) > h3 {
    font-size: x-large;
}

.card.business > div:nth-child(1) > p {
    padding: 0;
    margin: 0.2rem 0;
    text-align: center;
    max-width: none;
}

.list-view > .card.business > div:nth-child(1) > h3 {
    text-align: left;
    display: inline;
    margin-right: 0.5em;
}

.list-view > .card.business > div:nth-child(1) > p {
    text-align: left;
    display: inline;
}

.list-view > .card.business > div:nth-child(2) {
    display: none;
}

.list-view > .card.business > div:nth-child(3) {
    display: grid;
    grid-template: auto auto / 1fr 1fr;
    row-gap: 0;
}

.list-view > .card.business > div:nth-child(3) > * {
    margin: 0.1em;
}

.card.business > div > p {
    /* font-size: smaller; */
    overflow-wrap: break-word;
    max-width: 40vw;
    padding: 0;
    margin: 0.5rem 1rem;
}

.card.right > div > p {
    font-size: larger;
    padding: 0.2rem 1rem;
    margin: 0;
}

.card img {
    height: auto;
    width: 100%;
    border-radius: 1rem;
    /* border: 1px solid var(--accent1-color); */
    /* box-shadow: 0 0 1em 0em hsl(0, 0%, 80%); */
}

.card button {
    cursor: pointer;
    background: none;
    border: none;
    text-align: center;
    width: 100%;
    padding: 0.5rem;
}

.box-list {
    border: 1px solid var(--black);
    flex: 1 1 auto;
    text-align: center;
}

@keyframes pulse {
            0% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.1);
            }
            100% {
                transform: scale(1);
            }
        }

.course-completed {
    animation: pulse 2s infinite;
}

.button-container {
    padding: 0;
    margin: 0 0.5rem;
}

p.course-stats-text {
    text-align: center;
}

footer {
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    padding: 0.5em;
}

footer > div {
    justify-content: space-between;
    row-gap: 2rem;
    column-gap: 1rem;
}

footer > div > div > p {
    margin: 0;
    padding: 0.3em 0.5em;
    text-align: left;
}

footer >div > span.social-media {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;;
    column-gap: 1rem;
    margin: 1rem 0.5rem;
}

footer > div > span.social-media a img {
    height: 2rem;
    width: auto;
}