@media only screen and (min-width: 38rem) {

    header, main, nav, footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header div {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }

    nav.navigation {
        display: block;
    }
}