:root {
	--ecru: 			#bfb48fff;
	--isabelline: 		#f2efe9ff;
	--yinmn-blue: 		#4a5899ff;
	--vista-blue: 		#9dacffff;
	--black: 			#000501ff;

	--polynesian-blue: 	#084887ff;
	--moonstone: 		#74b4beff;
	--redwood: 			rgb(110, 45, 49);

	--primary-color: 	var(--polynesian-blue);
	--secondary-color: 	var(--ecru);
	--accent1-color: 	var(--redwood);
	--accent2-color: 	var(--black);

    --light-font-color: var(--isabelline);

	--heading-font: "Fredoka", system-ui;
	--body-font: "Fredoka", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	font-family: var(--body-font);
	color: var(--accent1-color);
}

header, footer {
    width: 100%;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--heading-font);
	color: var(--primary-color);
	text-align: center;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

header div {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;

    font-size: 2rem;
    color: var(--accent1-color);
}

img {
    display: block;
    width: 100%;
    height: auto;
}

header div img {
    padding-bottom: 6.5px
}

.hamburger {
    cursor: pointer;
    background: none;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
}

.hamburger::before {
    content: "\2630";
}
.hamburger.show::before {
    content: "\00D7";
}

h1 {
    color: var(--accent1-color)
}

nav.navigation {
    display: none;
    width: auto;
    margin: 0;
    padding: 0;
}

nav.navigation.show {
    display: block;
}

nav.navigation ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* background-color: var(--primary-color); */
    width: 100%;
}

nav.navigation ul li {
    flex-grow: 1;
}

nav.navigation ul li::marker {
    content: none;
}

nav ul li a {
    color: inherit;
    text-decoration: none;
    padding: 10px 30px;
    display: block;
    text-align: center;
    background-color: var(--ecru);
    cursor: pointer;
}

nav ul li.active a {
    background-color: var(--isabelline);
    font-weight: bolder;
}

nav ul li a:hover {
	text-decoration: none;
    background-color: var(--accent1-color);
    color: var(--light-font-color);
}

span#course-title {
    display: block;
    font-size: 2em;
    padding: 0.5em;
    text-align: center;
}

main {
    padding: 1em auto;
    margin: 0;
    display: grid;
    background-color: var(--isabelline);
}

.flex {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

section.card {
    border: 1px solid var(--accent2-color);
    border-radius: 1em;
    background-color: whitesmoke;
    flex: 1 1 auto;
}

section.card.left {
    flex: 3 10 20rem;
}

section.card.right {
    flex: 1 10 10rem;
}

section.card h2 {
    margin-bottom: 0.5rem;
}

section.card img {
    height: auto;
    width: 100%;
    border-radius: 1rem;
}

section.card button {
    cursor: pointer;
    background: none;
    border: none;
    text-align: center;
    width: 100%;
    padding: 0.5rem;
}

section.box-list {
    border: 1px solid var(--black);
    flex: 1 1 auto;
    text-align: center;
}

@keyframes pulse {
            0% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.1);
            }
            100% {
                transform: scale(1);
            }
        }

section.course-completed {
    animation: pulse 2s infinite;
}

.button-container {
    padding: 0;
}

p.course-stats-text {
    text-align: center;
}

footer {
    background-color: var(--ecru);
    color: var(--accent1-color);
    padding: 0.5em;
}

footer p {
    margin: 0;
    padding: 0.5em;
    text-align: center;
}

footer span.social-media {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;;
    column-gap: 1rem;
    margin: 1rem 0.5rem;
}

footer span.social-media a img {
    height: 2rem;
    width: auto;
}